@{
    ViewBag.Title = "Index";
}
<style>
    .icon-pad {
        padding-right: 3px; 
    }
</style>
<div class="list-group" style="padding-top: 10px">
    <a href="#" class="list-group-item">
        <span class="glyphicon glyphicon-tree-conifer pull-left icon-pad"></span>
        <h4 class="list-group-item-heading">Submit A Session</h4>
        <p class="list-group-item-text">Have something you're passionate about?</p>
    </a>
    <a href="#" class="list-group-item">
        <span class="glyphicon glyphicon-tree-conifer pull-left icon-pad"></span>
        <h4 class="list-group-item-heading">My Submitted Sessions</h4>
        <p class="list-group-item-text">Thanks for giving back to the community.</p>
    </a>
    <a href="#" class="list-group-item">
        <span class="glyphicon glyphicon-tree-conifer pull-left icon-pad"></span>
        <h4 class="list-group-item-heading">My Profile</h4>
        <p class="list-group-item-text">You are so good looking...</p>
    </a>
</div>