@{
    ViewBag.Title = "Register";
}

<div ng-app="camperRegister">
    <div ng-controller="camperRegisterCtrl">
        <div id="error" class="alert alert-danger">
            <p class="text-error">NOOOOOOOO! Something went wrong! <br/>
                <strong>{{errorMsg}}</strong>
            </p>
        </div>
        
        <p>&nbsp;</p>
        
        <form id="RegistrationForm" class="form-horizontal" role="form" name="frm" novalidate>
            <div class="form-group" ng-class="{'has-error': !frm.camperEmail.$valid}">
                <label for="email" class="col-sm-2 control-label" required>Email</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="camperEmail" ng-model="camper.email" ng-required="true">
                </div>
            </div>
            
            <div class="form-group" ng-class=" {'has-error': !frm.password.$valid} ">
                <label for="password" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-4">
                    <input type="password" name="password" class="form-control" placeholder="" ng-model="camper.password" ng-required="true">
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error has-feedback': !frm.confirmPassword.$valid}">
                <label for="confirm_password" class="col-sm-2 control-label">Confirm Password</label>
                <div class="col-sm-4">
                    <input type="password" class="form-control" placeholder="" name="confirmPassword" ng-model="camper.confirm_password" same-as="password">
                    <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="!frm.confirmPassword.$valid"></span>
                </div>
            </div>   

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-4">
                    <button type="submit" class="btn btn-default" ng-click="register()" ng-disabled="RegistrationForm.$invalid" >Register</button>
                </div>
            </div>

        </form>
        
        <div id="RegistrationSuccess">Success Start <a href="/Fulfillment">Fulfilling Now!</a></div>
    </div>
</div>

@section localJS {
    <script src='@Href("/Scripts/camper.js")'></script>
}